#body{
    p{
        color: aqua;
    }
    .red{
        color: white;
        background-color: red;
    }
    .thin{
        color: #999;
    }
    .lerge{
        font-size: 30pt;
    }
    .frame{
        border: solid 2px red;
    }
}